@font-face {
  font-family: 'Bebas-Neue';
  src:url('../fonts/Bebas-Neue.ttf.woff') format('woff'),
      url('../fonts/Bebas-Neue.ttf.svg#Bebas-Neue') format('svg'),
      url('../fonts/Bebas-Neue.ttf.eot'),
      url('../fonts/Bebas-Neue.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* General Style  =============== */

body {
  font-family: 'Bebas-Neue';
  padding: 0;
  margin: 0;
  background-color: #ECECEC;
  text-transform: uppercase;
  font-size: calc(0.75em + 1vmin);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  text-decoration: none;
}

a:hover {
    color: #5A5A5A;
    font-weight: 300;
    cursor: pointer;
}

li {
  list-style: none;
}

/* Body Element =============== */

.container {
  width: 1180px;
  margin: auto;
  position: relative;
}

.signature {
  position: absolute;
}

.middle {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  }

/* HEADER  =================== */


nav {
  width: 100%;
  height: 110px;
  top: 0;
  background-color: #FFF;
  }

  nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 12vw;
  padding-right: 12vw;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 2px;

}

nav ul li {
  display: block;
  min-width: 100px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

nav ul :nth-child(4) {
  width: 200px;
}
nav img {
  position: absolute;
  margin-left: 50%;
  left: -82px;
  display: block;
  height: 164px;
  margin-top: 18px;
}

/* BANNER ===================== */

#banner {
  height: 837px;
  background-image: url("../images/banner.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .container {
  padding-top: 105px;
}

#banner .container>div {
  top: 200px;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

#banner h1 {
  font-size: 7em;
  line-height: 0.9em;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding-right: 180px;
}

.bio {
  position: relative;
  margin-right: 11px;
  width : 579px;
  height: 413px;
  padding: 21px 100px 43px 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  background-color: #FFF;
}

.bio p {
  font-size: 0.64em;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: #4A4A4A;
  letter-spacing: 0.2px
}

.bio h3 {
  font-size: 36px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

.bio h4 {
  text-decoration: underline;
  letter-spacing: 1px;
}


#banner .signature {
  left: -280px;
  top: 10px;
}

/* VISION ===================== */

#vision {
  position: relative;
  background-image: url('../images/building.png');
  background-position:  top 200px right;
  background-repeat: no-repeat;
  height: 700px;
}

#vision .content {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;

}

#vision .photos:first-child {
  width: 480px;

}

#vision .signature {
  right: 0;
  top: 600px;
}

.quote {
  width: 380px;
  margin-top: 270px;
}

.quote h1 {
  height: 100px;
  font-size: 20em;
  line-height: 0.9;
  margin: 0;
}

.quote p {
  padding-top: 0px;
  font-size: 1.8em;
  line-height: 42px;
  margin: 0;
}


/* BLOG ========================= */

#blog {
  background-color: #DBDBE2;
  position: relative;
  margin-top: 217px;
  height: 832px;
}

#blog .middle {
  display: block;
  letter-spacing: 2px;
  top: -67px;
  font-size: 6em;
  text-align: center;
  text-decoration: underline;
}

.header {
  width: 100%;
  height: 80px;
  margin-top: 170px;
  margin-bottom: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}


.header h3 {
  display: block;
  font-size: 4em;
  line-height: 0px;
  padding-bottom: 20px;
  margin: 0;
  }

#blog button {
  height: 45px;
  width: 209px;
  font-size: 0.75em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
  color: #FFF;
  border: none;
}

.visual {
  width: 370px;
  height: 305px;
}

.card {
  height: 108px;
}

.articles {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 370px 370px 370px;
  justify-content: space-between;

}

.card>div:last-child {
  background-color: #FFF;
  position: relative;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 108px;
}

.card h5 {
  margin: 0;
  padding: 20px 0px 6px 0px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.card p {
  margin: 0;
  font-size: 0.7em;
  text-transform: none;
  font-weight: 100;
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
}


/* SOCIAL ========================= */


#social {
  height: 925px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#social .middle {
  height: 100px;
  text-align: center;
  top: 50px;
}

#social h5 {
  font-size: 1.9em;
  margin: 0;
}

.gallery {
  position: relative;
  padding-top: 250px;
  padding-bottom: 200px;
}


/* FOOTER ========================= */

i {
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 50%;
  }


#footer {
  color: #FFF;
}

#footer h2 {
  font-size: 4em;
}

.subscribe  {
  height: 364px;
  width: 100%;
  padding-top: 35px;
  background-color: #0C0C0C;
}

.logo-footer {
  height: 92px;
}

footer {
  height: 350px;
  background-color: #000000;
}

footer .content {
  padding-top: 100px;
  display: grid;
  grid-template-columns: 3fr 1fr 1fr 1fr;
  justify-content: center;
}

.content h4 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-decoration: underline;
}


.content h6 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 1.5px;
}

form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

input {
  background-color: #0C0C0C;
  color: rgba( 255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-right: 20px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  border: none;
  border-bottom: 1px solid #FFF;

  }

form button {
  background-color: #0C0C0C;
  color: #FFF;
  border: none;
  padding-bottom: 10px;
  text-align: right;
}

form button i {
  padding: 8px;

}
form button i:before {padding-bottom: 5px;
  font-weight: 100;
  font-size: 2em;
}


.categories {
  padding: 0;
}
.categories li {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.65em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  color: rgba( 255, 255, 255, 0.5);
}

.media {
  display: inline-flex;
  padding: 0;
}
.media li {
  padding-right: 10px;
}
.media i {
  font-weight: 100;
  font-size: 0.8em;
  padding: 7px;
  width: 35px;
  height: 35px;
  }

.credit :before {
  display: none;
}

.credit p {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.65em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  color: rgba( 255, 255, 255, 0.5);
}

.credit hr {
  margin-top: 60px;
  border-color: rgba( 255, 255, 255, 0.5);
}
