@font-face {
  font-family: 'Bebas-Neue';
  src:url('../fonts/Bebas-Neue.ttf.woff') format('woff'),
      url('../fonts/Bebas-Neue.ttf.svg#Bebas-Neue') format('svg'),
      url('../fonts/Bebas-Neue.ttf.eot'),
      url('../fonts/Bebas-Neue.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* General Style  =============== */


body {
  font-family: 'Bebas-Neue';
  padding: 0;
  margin: 0;
  background-color: #ECECEC;
  text-transform: uppercase;
  font-size: calc(0.75em + 1vmin);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

*, *:before, *:after {
  box-sizing: inherit;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  text-decoration: none;
  color: #000;
  transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

a:hover {
    color: #5A5A5A;
    font-weight: 300;
    cursor: pointer;
}

li {
  list-style: none;
}

.hidden:before {
  display: none;
}

/* Body Element =============== */

.container {
  max-width: 1180px;
  margin: auto;
  position: relative;
}

.signature {
  position: absolute;
}

.middle {
  display: block;
  position: absolute;
  margin: 0 auto;
  width: 100%;
  }

/* HEADER  =================== */

nav {
  width: 100%;
  height: 110px;
  top: 0;
  background-color: #FFF;
  }

@media all and (min-width: 1024px) {

  .mob-menu {
    display: none;
  }

  .menu {
    height: 110px;
    width: 100%;
    float: none;
    overflow-y: auto;
    margin: 0;
    padding-left: 12vw;
    padding-right: 12vw;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 2px;
  }

  .menu :nth-child(4) {
    width: 250px;
  }

  .menu li {
    display: block;
    min-width: 100px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
  }

  nav img {
    position: absolute;
    margin-left: 50%;
    left: -82px;
    display: block;
    height: 164px;
    margin-top: 18px;
  }
}


@media (max-width: 1124px) {

  .mob-menu {
    display: flex;
    flex-direction: column;
  }

  nav {
    height: 110px;
    display: flex;
    position: relative;
    justify-content: space-around;
    align-items: center;
    width: 100%;
  }

  nav img {
    margin-top: 20px;
    max-height: 164px;
    height: 20vw;
  }

  .menu :nth-child(4) {
    width: 200px;
  }

  .menu {
    margin: 0;
    margin-top: 20px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 0.9em;
    letter-spacing: 2px;
  }

  .mob-menu {
    display: block
    margin-top: 30px;
    float: right;
    right: 10%;
    }

  .mob-menu i {
    font-size: 40px;
    border-style: none;
  }
}




/* BANNER ===================== */

#banner {
  height: 837px;
  background-image: url("../images/banner.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .container {
  padding-top: 105px;
}

#banner .container>div {
  top: 200px;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

#banner h1 {
  font-size: 7em;
  line-height: 0.9em;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding-right: 180px;
}

.bio {
  position: relative;
  margin-right: 11px;
  width : 579px;
  height: 413px;
  padding: 21px 100px 43px 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  background-color: #FFF;
}

.bio p {
  font-size: 0.64em;
  line-height: 1.6em;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: #4A4A4A;
  letter-spacing: 0.2px
}

.bio h3 {
  font-size: 36px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

.bio h4 {
  text-decoration: underline;
  letter-spacing: 1px;
}


#banner .signature {
  left: -280px;
  top: 10px;
}

@media (max-width: 1124px) {
  #banner .container>div {
    width: 100%;
  }

  #banner h1 {
    font-size: 5em;
    line-height: 0.9em;
    text-align: center;
    letter-spacing: 2px;
    margin: 0;
    padding-right: 30vw;
  }

  .bio {
    position: relative;
    width : 70vw;
    height: auto;
    padding: 15px 100px 25px 100px;
      -moz-box-sizing: border-box;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
    background-color: #FFF;
  }
  #banner .signature {
    left: -30vw;
    width: 40vw;
    top: 10px;
  }
}

@media (max-width: 480px) {
  .bio {
    padding: 15px 25px 25px 25px;
  }

}

/* VISION ===================== */

#vision {
  position: relative;
  background-image: url('../images/building.png');
  background-position:  top 200px right;
  background-repeat: no-repeat;
  height: 700px;
}

#vision .content {
  position: relative;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;

}

#vision .signature {
  right: 0;
  top: 600px;
}

.quote {
  width: 380px;
  margin-top: 270px;
}

.quote h1 {
  height: 100px;
  font-size: 20em;
  line-height: 0.9;
  margin: 0;
}

.quote p {
  padding-top: 0px;
  font-size: 1.8em;
  line-height: 42px;
  margin: 0;
}


@media (max-width: 480px) {
  #vision .content {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .quote p {
    font-size: 1.3em;
  }

  #vision .photos img {
    width: 100%;
  }
}

/* BLOG ========================= */

#blog {
  background-color: #DBDBE2;
  position: relative;
  margin-top: 217px;
  min-height: 832px;
}

#blog .middle {
  display: block;
  letter-spacing: 2px;
  top: -67px;
  font-size: 6em;
  text-align: center;
  text-decoration: underline;
}

#blog .header {
  width: 100%;
  height: 80px;
  margin-top: 170px;
  margin-bottom: 40px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}


@media (max-width: 480px) {
  #blog .header {
    margin-top: 180px;
    flex-direction: column;
    align-items: center;
  }

  .middle img {
    width: 100%;
  }
}


.header h3 {
  display: block;
  font-size: 4em;
  line-height: 0px;
  padding-bottom: 20px;
  margin: 0;
  }

#blog button {
  height: 45px;
  width: 209px;
  font-size: 0.75em;
  font-weight: 100;
  text-transform: uppercase;
  text-align: center;
  background-color: #000;
  color: #FFF;
  border: none;
}

.card:hover {
  -webkit-box-shadow: 0px -2px 80px -5px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px -2px 80px -5px rgba(0,0,0,0.5);
  box-shadow: 0px -2px 80px -5px rgba(0,0,0,0.5);
}

.articles {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card {
  margin-bottom: 30px;
}

.card>div:last-child {
  height: 108px;
  background-color: #FFF;
  position: relative;
  padding: 15px;
  padding-bottom: 25px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.card h5 {
  margin: 0;
  padding: 20px 0px 6px 0px;
  letter-spacing: 1px;
  font-size: 0.9em;
}

.card p {
  margin: 0;
  font-size: 0.7em;
  text-transform: none;
  font-weight: 100;
  color: #4A4A4A;
  font-family: 'Open Sans', sans-serif;
}

.visual {
  width: 370px;
  height: 305px;
}


 @media (max-width: 480px) {
   .card {
    width: 100%;
   }
   .visual {
     width: calc(370px * 3 / 5);
     height: calc(305px * 3 / 5);
   }
 }


/* SOCIAL ========================= */


#social {
  height: 925px;
  margin-top: 50px;
  margin-bottom: 50px;
}

#social .middle {
  height: 100px;
  text-align: center;
  top: 50px;
}

#social h5 {
  font-size: 1.9em;
  margin: 0;
}

.gallery {
  position: relative;
  padding-top: 250px;
  padding-bottom: 200px;
}



/* FOOTER ========================= */

i {
  text-align: center;
  border: 1px solid #FFF;
  border-radius: 50% !important;
  }

#footer {
  color: #FFF;
}

#footer h2 {
  font-size: 4em;
}

.subscribe  {
  height: 364px;
  width: 100%;
  padding-top: 35px;
  background-color: #0C0C0C;
}

.logo-footer {
  height: 92px;
}

footer {
  min-height: 350px;
  background-color: #000000;
}

@media all and (min-width: 480px)
{
  footer .content {
    padding-top: 100px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
    justify-content: center;
  }
}

.content h4 {
  margin: 0;
  font-size: 1.6em;
  font-weight: 100;
  letter-spacing: 1.5px;
  text-decoration: underline;
}


.content h6 {
  margin: 0;
  font-size: 0.9em;
  font-weight: 100;
  letter-spacing: 1.5px;
}

form {
  display: grid;
  grid-template-columns: 2fr 2fr 1fr;
}

input {
  background-color: #0C0C0C;
  color: rgba( 255, 255, 255, 0.5);
  padding-bottom: 10px;
  margin-right: 20px;
  height: 40px;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.8em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  border: none;
  border-bottom: 1px solid #FFF;

  }

form button {
  background-color: #0C0C0C;
  color: #FFF;
  border: none;
  padding-bottom: 10px;
  text-align: right;
}

form button i {
  padding: 8px;

}
form button i:before {padding-bottom: 5px;
  font-weight: 100;
  font-size: 2em;
}


.categories {
  padding: 0;
}
.categories li {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.65em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  color: rgba( 255, 255, 255, 0.5);
}

.media {
  display: inline-flex;
  padding: 0;
}
.media li {
  padding-right: 10px;
}
.media i {
  font-weight: 100;
  font-size: 0.8em;
  padding: 8px;
  width: 35px;
  height: 35px;
  }

.credit :before {
  display: none;
}

.credit p {
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  font-weight: 100;
  font-size: 0.65em;
  letter-spacing: 1.2px;
  line-height: 1.4em;
  color: rgba( 255, 255, 255, 0.5);
}

.credit hr {
  margin-top: 60px;
  border-color: rgba( 255, 255, 255, 0.5);
}


@media (max-width: 480px) {
  #footer form, footer .content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    }
  #footer input {
    margin-bottom: 20px;
  }

  footer .content img, footer .content h4, footer .content div {
    margin-bottom: 20px;
  }

}
