@font-face {
  font-family: 'Bebas-Neue';
  src:url('../fonts/Bebas-Neue.ttf.woff') format('woff'),
      url('../fonts/Bebas-Neue.ttf.svg#Bebas-Neue') format('svg'),
      url('../fonts/Bebas-Neue.ttf.eot'),
      url('../fonts/Bebas-Neue.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}
@import url('https://fonts.googleapis.com/css?family=Open+Sans');

/* General Style  =============== */

body {
  font-family: 'Bebas-Neue';
  padding: 0;
  margin: 0;
  background-color: #ECECEC;
  text-transform: uppercase;
  font-size: calc(0.75em + 1vmin);
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
}

a {
  color: #333;
  cursor: pointer;
  text-decoration: none;
}

a:hover {
    color: #837661;
}

li {
  list-style: none;
}

/* Body Element =============== */

.container {
  width: 1180px;
  margin: auto;
}

.signature {
  position: absolute;
}

/* HEADER  =================== */


nav {
  width: 100%;
  height: 110px;
  top: 0;
  background-color: #FFF;
  }

  nav ul {
  height: 100%;
  width: 100%;
  margin: 0;
  padding-left: 12vw;
  padding-right: 12vw;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  display: inline-flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 300;
  font-size: 0.9em;
  letter-spacing: 2px;

}

nav ul li {
  display: block;
  min-width: 100px;
  padding-left: 8px;
  padding-right: 8px;
  text-align: center;
}

nav ul :nth-child(4) {
  width: 200px;
}
nav img {
  position: absolute;
  margin-left: 50%;
  left: -82px;
  display: block;
  height: 164px;
  margin-top: 18px;
}

/* BANNER ===================== */

#banner {
  height: 837px;
  background-image: url("../images/banner.png");
  background-position: top;
  background-size: cover;
  background-repeat: no-repeat;
}

#banner .container {
  padding-top: 105px;
}

#banner .container>div {
  top: 200px;
  width: 50%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

#banner h1 {
  font-size: 7em;
  line-height: 0.9;
  text-align: center;
  letter-spacing: 2px;
  margin: 0;
  padding-right: 180px;
}

.bio {
  position: relative;
  margin-right: 11px;
  width : 579px;
  height: 413px;
  padding: 21px 100px 43px 100px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
  background-color: #FFF;
}

.bio p {
  font-size: 0.64em;
  line-height: 1.6;
  font-family: 'Open Sans', sans-serif;
  text-transform: none;
  color: #4A4A4A;
  letter-spacing: 0.2px
}

.bio h3 {
  font-size: 36px;
  letter-spacing: 1.1px;
  margin-bottom: 0;
}

.bio h4 {
  text-decoration: underline;
  letter-spacing: 1px;
}


#banner .signature {
  left: -280px;
  top: 10px;
}

/* VISION ===================== */

#vision {
  position: relative;
  background-image: url('../images/building.png');
  background-position:  top 200px right;
  background-repeat: no-repeat;
  height: 700px;
}

#vision .contents {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 140px;

}

#vision .photos:first-child {
  width: 480px;

}

#vision .signature {
  right: 0;
  top: 600px;
}

.quote {
  width: 380px;
  height: 300px;
  margin-top: 270px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: space-around;
}

.quote h1 {
  font-size: 20em;
  line-height: 0px;
  margin: 0px;
}

.quote p {
  font-size: 1.8em;
  line-height: 42px;
  margin: 0;
}


/* BLOG ========================= */

#blog {
  background-color: #DBDBE2;
  position: relative;
  margin-top: 217px;
  height: 832px;
}

#blog h1 {
  font-size: 7em;
  text-align: center;
  letter-spacing: 2px;
  }

.header {
  width: 100%;
  height: 80px;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.header h3 {
  display: block;
  font-size: 4em;
  line-height: 0px;
  padding-bottom: 20px;
  margin: 0;
  }

#blog button {
  height: 50px;
  width: 160px;

}

.visual {
  width: 370px;
  height: 305px;
}

.card {
  height: 108px;
}

.articles {
  width: 100%;
  display: inline-grid;
  grid-template-columns: 370px 370px 370px;
  justify-content: space-between;

}

.card>div:last-child {
  background-color: #FFF;
  position: relative;
  padding: 15px;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 108px;
}

.card h6, p{
  margin: 0;
}





